## Basic of Python


    Various Datatypes in Python
    Variable
    Variables Assigment
    Print Formatting
Numbers

In [1]:
1+1

2

In [2]:
2*2

4

In [16]:
# data type - int,float,str,boolean.
##Check the Data types

In [3]:
type(1)

int

In [4]:
type(25.6)

float

In [5]:
type("Dishaistitute")

str

In [20]:
type(True)

bool

In [21]:
type(1)  # if we chech 1 for type is shows "int" not boolean.

int

Variables

In [6]:
a =10
b=25
a+b

35

In [7]:
c=a*b
c

250

In [9]:
d=a+b/b
#print(d)
print("d = ",d,"is float value")

d =  11.0 is float value

In [10]:
type(c)
type(d)

float

string

In [39]:
"shubham"

'shubham'

In [40]:
type("shubham")

str

In [41]:
print

In [42]:
print(c)

250

 printing and spacing

In [18]:
first_name='shubh'
last_name='gaikwad'

In [22]:
#print(first_name+last_name)
#print(first_name+last_name)
#print(first_name+" "+last_name)
print(first_name+" "*20+last_name)

shubh                    gaikwad

In [28]:
print(last_name+" "*2+first_name)

#print(first_name+10*" "last_name)

gaikwad  shubh

In [2]:
#print(first_name +last_name)
#print("")

print(first_name+" "*20+last_name)  #spacing distance by 20.
print(first_name,last_name)

shubh                    gaikwad
shubh gaikwad

In [31]:
#print("Mr name", first_name and "last name are",last_name)

#print("my first name is {}" and "last name are {}".format(first_name,last_name))

print("my first name is {} and last name are {}".format(first_name,last_name))

my first name is shubh and last name are gaikwad

In [54]:
print("my first name is last name are",first_name,last_name)
print("my first name is {}last name are {}",first_name,last_name)
print("my first name is last name are".format(first_name,last_name))
#here we not use {} coz print not properly

my first name is last name are shubh gaikwad
my first name is {}last name are {} shubh gaikwad
my first name is last name are

In [35]:
print("My name is ",first_name,last_name)

My name is  shubh gaikwad

In [36]:
print("my first name and last name are ",first_name,last_name)

my first name and last name are  shubh gaikwad

In [41]:
print("my first name {} and last name are {}".format(first_name,last_name))

my first name shubh and last name are gaikwad

In [32]:
print("my first name {first} and last name are {last} ".format(first=first_name,last=last_name))

my first name shubh and last name are gaikwad

In [33]:
print("my first name {last} and last name are {first} ".format(first=first_name,last=last_name))

my first name gaikwad and last name are shubh

In [44]:
print("my first name is {} last name are {}".format(first_name,last_name))

my first name is shubh last name are gaikwad

In [16]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is shubh and last name is gaikwad

In [59]:
print("My First name is {first} and last name is {last}".format(first=first_name,last=last_name))

print("My First name is {first} and last name is {last}".format(first=first_name,last=last_name))

My First name is shubh and last name is gaikwad
My First name is shubh and last name is gaikwad

In [36]:
len("Mynameisshubhamgaikead")
#len("shubham")

22

In [37]:
type(len)

builtin_function_or_method

In [97]:
n=3
b=5

print(n,b)
print(n,"",b) # use "" gives acgual space as normal.
print("n",n)
print("n"," ",n)
print("n : ",n)
print("b : ",b)
print("z : ",n+b)
print("n :","+"," b :","=",n+b)
print(" n : + b :",n+b)

print("n value : {} + b value : {}. Total is :  ".format(n,b),n+b)

3 5
3  5
n 3
n   3
n :  3
b :  5
z :  8
n : +  b : = 8
 n : + b : 8
n value : 3 + b value : 5. Total is :   8

In [98]:
# Python program to print spaces
x = 1
y = 2
  
# use of "," symbol

print("x:",x)
print("y:",y)
print(x,"+",y,"=",x+y)

x: 1
y: 2
1 + 2 = 3

In [34]:
# To print the single spaces in sentence
#print("Geeks"+" "+"For"+" "+"Geeks")
#print("Geeks","For","Geeks")    #(both are useful 4 single space)
  
# to print spaces by given times
print("Geeks"+" "*3+"For"+" "*3+"Geeks")
print("Geeks"+" "*5+"For"+" "*10+"Geeks")

Geeks   For   Geeks
Geeks     For          Geeks

In [4]:
a=3
b=4
print(a,b,a+b)

3 4 7