#### SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [3]:
#a={}type(a)

In [4]:
q1=set()

In [5]:
type(q1)

set

In [1]:
s={1,2,3,4,5,6,7,8,9,10.5}
#s={"1","2","3"}
s
type(s)

set

In [16]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10.5}

In [18]:
s={"1","2","3","3","1","3",4,4,4,4}
s #not repet item and no indexing

{'1', '2', '3', 4}

In [19]:
a={1,2,3,4,5,6,7,8,9}
b={1,2,3,8,9,10,11,5}
print(type(a))
print(a)
print(b)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 5, 8, 9, 10, 11}

In [24]:
a.difference(b)
#a.intersection(b)
#a
#a.union(b)

{4, 6, 7}

In [26]:
a.difference_update(b)
#a
b

{1, 2, 3, 5, 8, 9, 10, 11}

In [28]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Avengers', 'Hitman'}

set

In [29]:
## Inbuilt function in sets

set_var.add("Junior G")
set_var

{'Avengers', 'Hitman', 'IronMan', 'Junior G'}

#### dictonary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [39]:
q1={}
type(q1)

dict

In [40]:
q1={car1:maruti,car2:honda,car3:tata}

NameError: name 'car1' is not defined

In [72]:
q1={"car1:maruti","car2:honda","car3:tata"}
type(q1)

set

In [44]:
q1={"car1":"maruti","car2":"honda","car3":"tata"}
type(q1)

dict

In [47]:
q1={"car1":"maruti","car2":"honda","car3":"tata"}
type(q1)

dict

In [59]:
#adding item in dict
q1["car4"]='M-benz'
q1

{'car1': 'maruti', 'car2': 'honda', 'car3': 'tata', 'car4': 'M-benz'}

In [60]:
# item replacing and overwrited
q1["car1"]='bmw'
q1

{'car1': 'bmw', 'car2': 'honda', 'car3': 'tata', 'car4': 'M-benz'}

In [65]:
#accesing item based on keys
q1["car1"]

'bmw'

In [66]:
# We can even loop throught the dictionaries keys

for x in q1:
    print(x)

car1
car2
car3
car4

In [67]:
# We can even loop throught the dictionaries values

for x in q1.values():
    print(x)

bmw
honda
tata
M-benz

In [68]:
# We can also check both keys and values
for x in q1.items():
    print(x)

('car1', 'bmw')
('car2', 'honda')
('car3', 'tata')
('car4', 'M-benz')

#### Nested Dictionary

In [74]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
car_type

#q1={"car1:maruti","car2:honda","car3:tata"}
#type(q1)

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [89]:
car_type["car1"]


#car_type{["car1"],["car2"]} #how indexing/call 2 keys and items
#car_type["car1"]["Mercedes"]
#car_type["car1","Mercedes"] #not wrk coz , and 
#car_type(["car1"],["Mercedes"]) #bracket

{'Mercedes': 1960}

#### tuple
when u define tuple u cant change  element of tuple. 
use for define function in programming.

In [92]:
my_tuple=()

type(my_tuple)

tuple

In [102]:
my_tuple=('Hello','World')
type(my_tuple)
my_tuple

('Hello', 'World')

In [95]:
my_tuple.count("Hello")

1

In [100]:
my_tuple.index("World")

ValueError: tuple.index(x): x not in tuple

In [98]:
my_tuple=("Krish","Ankur","John")
my_tuple.index("Ankur")

1