In [1]:
8/2

4.0

In [1]:
1+2

3

In [2]:
a=range(1,100)

In [3]:
b=range(250,350)

In [4]:
import numpy as np

In [5]:
np.mean(a)

50.0

In [1]:
a={"class":"12","div":"A"}

In [2]:
type(a)

dict

In [4]:
a["class"]

'12'

In [6]:
a["div"]

'A'

### add items in dictonary

In [80]:
a["car1"]=["maruti800"]

In [82]:
a

{'class': '12',
 'div': 'A',
 'car1': ['maruti800'],
 'sub': 'math',
 'school': 'Apte',
 ('teacher', 'floor'): 'Mane,3',
 'teacher,floor': 'Mane,3'}

In [83]:
a["sub"]="math"

In [84]:
a

{'class': '12',
 'div': 'A',
 'car1': ['maruti800'],
 'sub': 'math',
 'school': 'Apte',
 ('teacher', 'floor'): 'Mane,3',
 'teacher,floor': 'Mane,3'}

In [85]:
a["sc"]="pte"
a

{'class': '12',
 'div': 'A',
 'car1': ['maruti800'],
 'sub': 'math',
 'school': 'Apte',
 ('teacher', 'floor'): 'Mane,3',
 'teacher,floor': 'Mane,3',
 'sc': 'pte'}

In [88]:
a['cd']='sd'

In [89]:
a

{'class': '12',
 'div': 'A',
 'car1': ['maruti800'],
 'sub': 'math',
 'school': 'Apte',
 ('teacher', 'floor'): 'Mane,3',
 'teacher,floor': 'Mane,3',
 'sc': 'pte',
 'cd': 'sd'}

In [26]:
a["teacher,floor"]="Mane,3"
a

{'class': '12',
 'div': 'A',
 'car1': ['maruti800'],
 'sub': 'math',
 'school': 'Apte',
 ('teacher', 'floor'): 'Mane,3',
 'teacher,floor': 'Mane,3'}

In [93]:
b={"Name":"gsk","class":"a","std":"10","teacher":"Deshpande"}
b

{'Name': 'gsk', 'class': 'a', 'std': '10', 'teacher': 'Deshpande'}

In [94]:
type(b["Name"])

str

In [96]:
b["Name"]

'gsk'

In [97]:
b["class"]

'a'

## add items in dictonary

In [34]:
b["sports"]='tennis'
b

{'Name': 'gsk',
 'class': 'a',
 'std': '10',
 'teacher': 'Deshpande',
 'sports': 'tennis'}

In [100]:
b["fc"]='ma'

In [102]:
b["fdd"]="rer"

In [103]:
print(b)

{'Name': 'gsk', 'class': 'a', 'std': '10', 'teacher': 'Deshpande', 'fc': 'ma', 'fdd': 'rer'}

### nested directory

In [38]:
c1={"sub":"science"}
c2={"id":"123"}
c3={'marks':'70%'}

In [41]:
b={"c":c1,"d":c2,"q":c3}

In [62]:
print(b)

{'c': {'sub': 'science'}, 'd': {'id': '123'}, 'q': {'marks': '70%'}}

###### accesing the item from directory

In [47]:
print(c1["sub"])

science

In [51]:
print(c3['marks'])

70%

In [52]:
print(c2["id"])

123

In [63]:
print(b['c']['sub'])

science

In [67]:
# We can even loop throught the dictionaries keys
for i in b:
    print(i)

c
d
q

In [72]:
# We can even loop throught the dictionaries values

for i in b.values():
    print(i)

{'sub': 'science'}
{'id': '123'}
{'marks': '70%'}

In [74]:
# We can also check both keys and values
for i in b.items():
    print(i)

('c', {'sub': 'science'})
('d', {'id': '123'})
('q', {'marks': '70%'})