##### For, If,Functions

Functions in Python. A function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined function

In [90]:
## If conditions  and for loops

lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]

In [93]:
even_sum=0
odd_sum=0

for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

56 53

In [73]:
##4%2

In [74]:
##1%2

In [103]:
li=[1,2,3]
li

[1, 2, 3]

In [76]:
for i in li:
    if i%2==0:
        print("even number",i)
        c=10+i
        print(c )
    else:
        print("odd no",i)
        d=10-i
        print(d)

odd no 1
9
even number 2
12
odd no 3
7

In [77]:
for i in li:
    if i%2==0:
        print("i value is  even no and sum is:",i,10+i) 
    else:
        print("i value is odd and sum is: ",i, 10-i)

i value is odd and sum is:  1 9
i value is  even no and sum is: 2 12
i value is odd and sum is:  3 7

In [89]:
sum_even=0
sum_odd=0

for i in li:
    if i%2==0:
        sum_even=sum_even+i
    else:
        sum_odd=sum_odd+i
        
print(sum_even,sum_odd)

2 4

In [117]:
for i in li:
    sum_even=sum_even+i
    print(sum_even)

123
125
128

In [123]:
im=[1,2,3]
im

[1, 2, 3]

In [119]:
sum_even=0

In [125]:
for i in li:
    sum_even=sum_even+i
    print(sum_even)

19
21
24

In [126]:
for i in im:
    sum_even=sum_even+i
    print(sum_even)

25
27
30

In [129]:
cm=[10,11,12]

In [130]:
for i in cm:
    sum_even=sum_even+i
    print(sum_even)

46
57
69

#### function

In [1]:
def add(a,b):
    return a+b

In [2]:
add(2,3)

5

In [6]:
def ls(lst):
    return lst*5

In [7]:
ls([12,3,4,5])

[12, 3, 4, 5, 12, 3, 4, 5, 12, 3, 4, 5, 12, 3, 4, 5, 12, 3, 4, 5]

In [8]:
def sub(a,b):
    return a-b

In [28]:
def multi(a,b):
    return a/b

In [25]:
add(3,3)

6

In [30]:
multi(3,4)

0.75

In [31]:
def multi(num1,num2):
    return num1*num2

In [32]:
multi(3,4)

12

# lambda function

#### anonymous function
function with no name

In [34]:
def addition(a,b):
    return a+b

In [35]:
addition(12,89)

101

In [36]:
addition=lambda a,b:a+b

In [37]:
addition(4,5)

9

In [3]:
multiplication=lambda c,d:c*d

In [4]:
multiplication(2,4)

8

In [2]:
multiplication(4.5,25)

112.5

In [45]:
def even(a):
    a%2==0
    return True

In [46]:
even(16)

True

In [5]:
even=lambda a:a%2==0

even(12)

In [50]:
def even_odd(a):
    if a%2==0:
     print("this is even {} number".format(a))
    else:
        print("this is odd {} number".format(a))

# Map function

In [51]:
even_odd(24)

this is even 24 number

In [55]:
def even_odd(a):
    if a%2==0:
        return "This is even number {}".format(a)
    else:
        return "This is odd number{}".format(a)

In [56]:
even_odd(16)

'This is even number 16'

In [57]:
ls=[12,34,56,43,67,99]

######  in map function gives answer of whole list

In [91]:
list(map(even_odd,ls))

['This is even number 12',
 'This is even number 34',
 'This is even number 56',
 'This is odd number43',
 'This is odd number67',
 'This is odd number99']

# filter function

In [7]:
def even(a):
    if a%2==0:
        return True
    else:
        return False

In [87]:
even(49)

False

###### in filter function it gives answer only output is true

In [88]:
b=[1,2,3,4,5,6,7,8,9,10]

In [90]:
list(filter(even,b))

[2, 4, 6, 8, 10]

In [93]:
list(filter(lambda a:a%2==0,b))

[2, 4, 6, 8, 10]

In [96]:
list(map(lambda a:a%2==0,b))

[False, True, False, True, False, True, False, True, False, True]

In [94]:
list(map(even,b))

[False, True, False, True, False, True, False, True, False, True]